@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;600;700&display=swap');

:root {
  --font-display: 'Hepta Slab', serif;
  --font-body: 'Hepta Slab', serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
